---
import { Image } from "astro:assets";
import p from "../../public/p.png";
---

<article id="about" transition:animate="fade" class="w-full bg-a p-2">
  <h1 class="text-bg text-center mt-20 font-bold text-5xl mb-20">About me</h1>
  <section class="flex flex-wrap gap-20 mb-16 justify-center items-center">
    <div class="min-w-96 max-w-2xl">
      <p
        class="text-gray-400 overflow-hidden text-lg tracking-wide font-semibold"
      >
        Hello,
        <strong class="text-cyan-300">I'm Jose Villarroel</strong>, a person who
        always seeks to learn new ways <strong class="text-cyan-300"
          >to solve</strong
        > problems. I always seek to improve and master new technologies to
        <strong class="text-cyan-300">stay updated</strong> and discover new possibilities.
      </p>
      <br />
      <p class="text-gray-400 text-lg tracking-wide font-semibold">
        <strong class="text-cyan-300">I am currently studying</strong> a degree in
        <strong class="text-cyan-300"> Computer Engineering </strong>. At the
        same time, I work on personal <strong class="text-cyan-300"
          >projects</strong
        >
        to improve my skills as a developer and figure out what
        <strong class="text-cyan-300">I need to improve</strong> to be better every
        day.
      </p>
    </div>
    <div>
      <Image
        class="w-80 shadow-sm shadow-cyan-400 rounded-full"
        src={p}
        alt="Profile"
      />
    </div>
  </section>
</article>

<style>
  h1 {
    text-shadow:
      2px 2px 1px #67e8f9,
      -2px 2px 1px #67e8f9,
      -2px -2px 0 #67e8f9,
      2px -2px 0 #67e8f9;
    letter-spacing: 2px;
  }
</style>
