<footer class="w-full mt-32 bg-cyan-400 bg-opacity-90">
    <div class="flex max-h-72 min-h-40 flex-col mt-16 p-14 justify-center items-center">
<h2 class="font-bold text-3xl text-bg">Jose Villarroel</h2>
<hr class="w-2/3 bg-bg h-1 rounded-3xl border-none outline-none">
<h3 class="font-bold text-2xl text-bg">FullStack developer</h3>
    </div>
</footer>