<header class="h-screen animate-slideRigth flex items-center" id="home">
  <div class="w-full h-96 flex flex-wrap items-center justify-around mb-28">
    <div class="min-w-96 max-w-2xl flex flex-col">
      <h1 class="text-gray-300 text-4xl">
        Hi i`m <span class="text-bg mb-3 font-bold text-6xl">Jose Villarroel
        </span>
      </h1>
      <p class="text-cyan-200 text-3xl">FullStack Developer</p>
      <p class="text-gray-400 font-semibold text-xl tracking-wide">
        Looking  best solutions for the most <strong
          class="font-bold text-cyan-200">difficult problems</strong
        >
      </p>
      <div class="flex w-full gap-5 justify-start pt-6">
        <a
          class="w-32 transition-all text-lg flex gap-3 p-2 justify-center text-gray-100 text-opacity-95  items-center border border-cyan-400 border-opacity-60 rounded-3xl font-semibold hover:opacity-70"
          href='https://github.com/villarroelsaad'><img class="w-5 opacity-90" src="./github.svg" alt="" />Github</a
        >
        <a
        class="w-36 transition-all text-lg flex gap-3 p-2 justify-center text-gray-100 text-opacity-95  items-center border border-cyan-400 border-opacity-95 rounded-3xl font-semibold hover:opacity-70"
        href='https://www.linkedin.com/in/jose-v/'><img class="w-5 opacity-90" src="../linkedin.svg" alt="" />Linkedln</a
      >
        <a
          class="w-32 transition-all text-lg flex text-gray-100 gap-3 p-2 justify-center text-opacity-95 items-center border border-cyan-400 border-opacity-95 rounded-3xl font-semibold hover:opacity-70"
          href='./contact'><img class="w-5 opacity-90" src="../gmail.svg" alt="" />Gmail</a
        >
      </div>
    </div>
    <div>
      <img class="w-96 " src="./1.svg" alt="" />
    </div>
  </div>
</header>

<style>
  header {
    max-width: calc(100% - 2rem);
    margin: auto;
    width: 1200px;
  }
  span {
    text-shadow:
      2px 2px 1px #67e8f9 ,
      -2px 2px 1px #67e8f9 ,
      -2px -2px 0 #67e8f9 ,
      2px -2px 0 #67e8f9 ;
    letter-spacing: 2px;
  }
  .slide-Rigth{animation:slide-left 0.4s linear both}@keyframes slide-Rigth{0%{transform:translateX(0)}100%{transform:translateX(64px)}}
</style>
