<main>
    <div class="flex">
        <nav class="w-full bg-pro p-4 fixed z-10">
          <ul
            class="flex justify-end  tracking-wide items-center gap-10  text-lg font-bold text-gray-400 mr-4">
            <a class="transition-all hover:text-cyan-200" href="./#home">Home</a>
            <a class="transition-all hover:text-cyan-200" href="./#about">About</a>
            <a class="transition-all hover:text-cyan-200" href="./#proyects">Proyects</a>
            <a class="transition-all hover:text-cyan-200" href="contact">Contact</a>
            <a class="transition-all hover:opacity-80" href="https://github.com/villarroelsaad"
              ><img class="w-10 mr-3" src="./github.svg" alt="github" /></a
            >
          </ul>
        </nav>
      </div>
</main>
