<article class="w-full rounded-lg bg-cyan-500 bg-opacity-95 mb-44">
  <h1 class="text-center tracking-wide mt-24 text-bg text-4xl font-extrabold">
    Want to know more?
  </h1>
  <h2 class="text-center tracking-wide mt-5 text-bg text-5xl font-extrabold">
    Try take a look at my CV
  </h2>
  <section class="flex justify-evenly flex-wrap pt-0 mt-12">
    <div class="flex flex-wrap mb-12 gap-4 justify-center m-4">
      <a
        class="w-60 text-xl flex transition-all gap-3 p-4 mb-3 justify-center items-center border-2 border-gray-100 border-opacity-60 rounded-3xl hover:border-gray-300 font-semibold bg-a bg-opacity-90 hover:scale-105"
        href="/CV_Jose_Villarroel_Desarrollador_FullStack.pdf"
        download="CV_Jose_Villarroel_Desarrollador_FullStack.pdf"
        aria-label="Download CV"
        ><img class="w-9" src="/download.svg" alt="download" />Download CV</a
      >
      <a
        class="w-40 text-lg flex transition-all gap-3 p-2 mb-3 justify-center items-center border-2 border-gray-100 border-opacity-60 rounded-3xl hover:border-gray-300 font-semibold bg-a bg-opacity-90 hover:scale-105"
        href="https://drive.google.com/file/d/18JPFIBcuyvR18V0PL3Wn2ObVHxRbFj1X/view?usp=drive_link"
        target="_blank"><img class="w-9" src="/view.svg" alt="view" />View CV</a
      >
    </div>
  </section>
</article>
