<article class="w-full rounded-lg bg-cyan-500 bg-opacity-95 rotate-1 mb-44">
  <h1 class="text-center tracking-wide mt-24 text-bg text-5xl font-extrabold">
    Technologies
  </h1>
  <section class="flex justify-evenly flex-wrap  pt-0 mt-24">
    <div class="flex flex-wrap mb-12 gap-4 justify-center m-4">
      <img class="w-20 h-24" src="html5.svg" alt="html" />
      <img class="w-20 h-24" src="css3.svg" alt="css" />
      <img class="w-20 h-24" src="js.svg" alt="Js" />
      <img class="w-20 h-24" src="react.svg" alt="react" />
      <img class="w-20 h-24" src="typescript.svg" alt="Ts" />
      <img class="w-20 h-24" src="node-js.svg" alt="node" />
      <img class="w-20 h-24" src="tailwind.svg" alt="tailwind" />
      <img class="w-20 h-24" src="mysql.svg" alt="mysql" />
      <img class="w-20 h-24" src="astro.svg" alt="astro" />
      <img class="w-20 h-24" src="git.svg" ' alt="git" />
    </div>
  </section>
</article>
